@import url('https://fonts.googleapis.com/css2?family=Exo:wght@100,200,300,400,500,600,700&family=Roboto:wght@100,200,300,400,500,600,700&display=swap');

.navbar-dark .navbar-nav .nav-link {
    color:#fff

}



.navbar-brand {
    font-size: 2rem;
    font-weight: bold;
}

.nav-item {
    font-size: 2rem;
    font-weight: absolute;
    text-decoration: #fff;
}


.about  {
    text-align: center;
    font-size:medium;
}

#classes {
    text-align: center;

}

#gallery {
    text-align: center;
}

#contact {
    text-align: center;
}

h1 {
    font-size: 60px;


}

.btn-primary {
    color: #fff;
    background-color:grey;
    border-color: black;
}

.btn-primary:hover {
    color: #fff;
    background-color:grey;
    border-color: black;
}