@import url('https://fonts.googleapis.com/css2?family=Exo:wght@100 &family=Roboto:wght@300&display=swap');

/*H1*/

h1 {
    font-size: 2.5rem;
    text-align: center;
}
/*p*/
p {
    margin: 1rem;
    padding: 1rem;

}
/*navbar*/
.navbar-dark .navbar-nav .nav-link {
    color: #ffffff;

}

.bg-dark {
    background-color: #292929 !important;
}
.navbar-brand {

    font-size: 2rem;
    font-weight: bold;
}

.nav-item {

    font-size: 1rem;
    text-decoration: #ffffff;
}


/*About*/

.text-content {
    text-align: justify;

}

/*Classes*/

#classes {
    text-align: center;
}

.card-body {

    flex: 1 1 auto;
    min-height: 1rem;
    margin: 1rem;
    padding: 1.25rem;
    text-align: justify;
}

.rounded {
    width: 15.6rem;
    height: 15.6rem;

}
/*Gallery*/

.gallery {

    text-align: center;
}

/*Contact form*/


.btn-primary:hover {

    color: #ffffff !important;

}

/*background img*/

.img-fluid bg {

    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container-fluid {

    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}

/* right to the top buttom*/

#myBtn {

    display: none;
    position: fixed;
    bottom: 9.3rem;
    right: 1.8rem;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #292929;
    color: #FFFFFF;
    cursor: pointer;
    padding: 1rem;
    border-radius: 0.5rem;
    font-size: 1.2rem;
}

#myBtn:hover {

    background-color: #616161;
}

/*footer*/

div.text-center.text-light.p-3 {
    background-color: #292929 !important;
}
